body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
    font-size: 60px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    clear: both;
}

main {
    float: left;
    width: 86%;
    padding-bottom: 80px;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.citacao {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
}

cite {
    font-style: italic;
    float: right;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;    
}

img {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

aside, img {
    float: right;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 14%;
    top: 310px;
}

nav a {
    text-transform: lowercase;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.icones-sociais li {
    display: inline-block;
}

.github {
    background-image: url(Projeto/github.png);
}

.twitter {
    background-image: url(Projeto/twitter.png);
}

.linkedin {
    background-image: url(Projeto/linkedin.png);
}

.icones-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: transparent;
}

.conteudo {
    width: 720px;
    padding: 30px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}